<div id="mainNavigation">
  <nav role="navigation">
    <div class="py-3 text-center border-bottom">
      <img src="../../assets/images/gsb.png" alt="" class="logo">
    </div>
  </nav>
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center my-2">
      <button class="navbar-toggler w-75 menu-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span><span class="align-middle"> Menu</span>
      </button>
    </div>
    <div class="text-center mt-3 pb-3 collapse navbar-collapse border-bottom" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" (click)="closeDropdown()">Accueil</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/frais/liste" (click)="closeDropdown()">Liste Frais</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/praticiens/liste" (click)="closeDropdown()">Liste Praticiens</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()" (click)="logout()">
          <a class="nav-link" routerLink="/logout" (click)="closeDropdown()">Se déconnecter</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login" (click)="closeDropdown()">Se connecter</a>
        </li>
      </ul>
    </div>
  </div>
</div>
