<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Frais</th>
        <th scope="col">Année/Mois</th>
        <th scope="col">Date Modification</th>
        <th scope="col">Montant Validé</th>
        <th scope="col">Nombre de justificatifs</th>
        <th scope="col">Id Visiteur</th>
        <th scope="col">Etat</th>
        <th scope="col">Modifier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let frais of getListeFrais() | async">
        <td>{{ frais.id_frais }}</td>
        <td>{{ frais.anneemois }}</td>
        <td>{{ frais.datemodification | date:'yyyy/MM/dd' }}</td>
        <td>{{ frais.montantvalide }}</td>
        <td>{{ frais.nbjustificatifs }}</td>
        <td>{{ frais.id_visiteur }}</td>
        <td>{{ frais.lib_etat }}</td>
        <td>
          <button mat-icon-button (click)="afficherDetailsFrais(frais.id_frais)">
            <mat-icon aria-label="Modifier">create</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
