<div class="container">
	<input type="text" id="critere" class="form-control mb-3" placeholder="Rechercher..."
		(input)="onSearchChange($event)">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">ID</th>
				<th scope="col">Type</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse</th>
				<th scope="col">Code</th>
				<th scope="col">Etat</th>
				<th scope="col">Invitations</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let praticien of getListePraticiens() | async" class="text-center">
				<td>{{ praticien.id_praticien }}</td>
				<td>{{ praticien.type_praticien?.lib_type_praticien }}</td>
				<td>{{ praticien.nom_praticien }}</td>
				<td>{{ praticien.prenom_praticien }}</td>
				<td>{{ praticien.adresse_praticien }}</td>
				<td>{{ praticien.cp_praticien }}</td>
				<td>{{ praticien.ville_praticien }}</td>
        <td>
          <button class="btn btn-outline-primary btn-icon" (click)="afficherDetailsPraticien(praticien.id_praticien)">
            <i class="material-icons">add_circle_outline</i>
          </button>
        </td>
			</tr>
		</tbody>
	</table>
</div>
